<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-75message %n</pattern>
		</encoder>
	</appender>

	<logger name="net.nlacombe.prophecy">
		<level value="info"/>
	</logger>

	<root>
		<level value="warn"/>
		<appender-ref ref="consoleLog" />
	</root>
</configuration>
